<br>
 <!-- Breadcrumb -->
 <div *ngIf="categoryPageDto">
  <ul class="breadcrumb">
    <li><a routerLink="/allProducts">Catégories</a></li>
     > > <ng-container *ngFor="let breadcrumb of categoryPageDto.breadcrumbDTO; let last = last">
      <li *ngIf="!last">
        <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.categoryLabel }}</a>
      </li>
      <li *ngIf="last" class="active" style="color: #f7444e;">
        >> {{ breadcrumb.categoryLabel }}
      </li>
    </ng-container>
  </ul>
</div>

    
<!-- product section -->
<section class="product_section layout_padding">
  <div class="container">
     <div class="heading_container heading_center">
        <h2>
           Our <span>Categories</span>
        </h2>
     </div>
     <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let product of categoryPageDto.subCategories">
           
              <div class="img-box">
                 <img [src]="product.imageUrl" alt="{{ product.label }}">
              </div>
              <div class="detail-box">
                 <h5>
                    {{ product.label }}
                 </h5>
                 <h6>
                    ${{ product.valid }}
                 </h6>
              </div>
           </div>
        </div>
     </div>
  
  <div *ngIf="categoryPageDto.products.length > 0">
    <section class="product_section layout_padding">
      <div class="container">categories
        <div class="heading_container heading_center">
          <h2>
            Our <span>Products</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of categoryPageDto.products">
            <div class="box">
              <div class="img-box">
                <img [src]="product.imageUrl" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{ product.label }}
                </h5>
                <h6>
                  {{ product.price }} $
                </h6>
                </div>
                <div class="options">
                <a class="option1" (click)="addToCart(product)">
                  Add To Cart
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  